/******************** GENERAL RULES ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helevetica;
}

.container-text {
    width: 80%;
    margin: 0 auto;
}

/******************** HEADER ********************/






/******************** MAIN ********************/
/***** main-first_block *****/
#returnal {
    color: white;
    width: 100%;
    height: 500px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
}

#returnal img {
    width: 30%;
    height: auto;
}



/***** main-second_block *****/
#console_ps5 img {
    width: 100%;
    height: auto;
}



/***** main-third_block *****/
#takes_two {
    color: white;
    width: 100%;
    height: 500px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#takes_two img {
    width: 30%;
    height: auto;
}



/***** main-fourth_block *****/
#new_releases {
    background-color: grey;
    color: white;
}

#new_releases img {
    width: 100%;
    height: auto;
}



/***** main-fifth_block *****/
#ps_4 img {
    width: 100%;
    height: auto;
}



/***** main-sixth_block *****/
#ps_plus {
    background-color: grey;
}

#ps_plus img {
    width: 100%;
    height: auto;
}



/***** main-sixth_block *****/
#ps_store img {
    width: 100%;
    height: auto;
}



/***** main-eighth_block *****/
#ps_now {
    background-color: blue;
}

#ps_now img {
    width: 100%;
    height: auto;
}



/***** main-ninth_block *****/
#ps_social_media img {
    width: 100%;
    height: auto;
}




/******************** FOOTER ********************/
footer {
    background-color: blue;
    color: white;
}

footer img {
    width: 100%;
    height: auto;
}





/******************** MEDIA QUERY ********************/

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}