/******************** GENERAL RULES ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helevetica;
}

.container-text {
    width: 80%;
    margin: 0 auto;
}

/******************** HEADER ********************/






/******************** MAIN ********************/
/***** main-first_block *****/
#returnal {
    color: white;
    width: 100%;
    height: 500px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

#returnal img {
    width: 30%;
    height: auto;
}

#returnal .container-text {
    position: relative;
    height: 450px;
}

#returnal .container-text .absolute {
    position: absolute;
    bottom: 0;
}

#returnal .container-text p {
    font-size: 13px;
}


/***** main-second_block *****/
#console_ps5 img {
    width: 100%;
    height: auto;
}

#console_ps5 h5 {
    color: rgb(39, 139, 239);
    font-size: 15px;
    font-weight: bold;
}

#console_ps5 p {
    color: grey;
    font-size: 14px;
}


/***** main-third_block *****/
#takes_two {
    color: white;
    width: 100%;
    height: 500px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#takes_two img {
    width: 30%;
    height: auto;
}

#takes_two .container-text {
    position: relative;
    height: 450px;
}

#takes_two .container-text .absolute {
    position: absolute;
    bottom: 0;
}

#takes_two .container-text p {
    font-size: 13px;
}



/***** main-fourth_block *****/
#new_releases {
    background-color: rgb(53, 50, 50);
    color: white;
}

#new_releases img {
    width: 100%;
    height: auto;
}



/***** main-fifth_block *****/
#ps_4 p {
    color: grey;
    font-size: 14px;
}

#ps_4 img {
    width: 100%;
    height: auto;
}

#console_ps5 p {
    color: grey;
    font-size: 14px;
}



/***** main-sixth_block *****/
#ps_plus {
    background-color: rgb(163, 158, 158);
}

#ps_plus img {
    width: 100%;
    height: auto;
}

#ps_plus .image_plus {
    width: 60%;
    height: auto;
}

#ps_plus p {
    font-size: 12px;
}



/***** main-seventh_block *****/
#ps_store img {
    width: 100%;
    height: auto;
}

#ps_store p {
    color: grey;
    font-size: 15px;
}



/***** main-eighth_block *****/
#ps_now {
    background-color: blue;
}

#ps_now img {
    width: 100%;
    height: auto;
}

#ps_now .image_ps_now {
    width: 60%;
    height: auto;
}

#ps_now p {
    font-size: 12px;
    color: white;
}



/***** main-ninth_block *****/
#ps_social_media img {
    width: 100%;
    height: auto;
}




/******************** FOOTER ********************/
footer {
    background-color: blue;
    color: white;
}

footer img {
    width: 100%;
    height: auto;
}





/******************** MEDIA QUERY ********************/
/*Display xs*/
@media screen and (max-width: 575px) {

    .display-none {
        display: none;
    }

    .image_soulstorm {
        display: none;
    }

    .image_avengers {
        display: none;
    }
}



/*Display sm*/
@media screen and (max-width: 767px) {

    .display-none {
        display: none;
    }

    .image_soulstorm {
        display: none;
    }

    .image_avengers {
        display: none;
    }
}



/*Display md*/
@media screen and (max-width: 991px) {

    .display-none {
        display: none;
    }
}



/*Display lg*/
@media screen and (min-width: 992px) {

    .margin_right {
        margin: 0px 22px;
    }

}